<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Growtopia_macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    
  </entityFramework>
  
  <userSettings>
    <Growtopia_macro.Properties.Settings>
      <setting name="RunFirst" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>72225341/OatvYPOWA-aM5iJR9L8mxTLAK9EibAUNzH</value>
      </setting>
      <setting name="ACC" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value>.com/raw/2</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>Username</value>
      </setting>
      <setting name="no_GT_windows" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="checkBox8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkBox9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="iTalk_NumericUpDown1" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="maskedTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="comboBox1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="textBox1" serializeAs="String">
        <value>message</value>
      </setting>
      <setting name="numericUpDown5" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="SpammerText1" serializeAs="String">
        <value />
      </setting>
      <setting name="SpammerText2" serializeAs="String">
        <value />
      </setting>
      <setting name="SpammerText3" serializeAs="String">
        <value />
      </setting>
      <setting name="SpammerText4" serializeAs="String">
        <value />
      </setting>
      <setting name="SpamTxt1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpamTxt2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpamTxt3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpamTxt4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddInFrontCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MsgSpamCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkBox6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkBox7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpamDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="addInFront" serializeAs="String">
        <value>`#</value>
      </setting>
      <setting name="MsgSpamTo" serializeAs="String">
        <value />
      </setting>
      <setting name="trackBar2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Premium" serializeAs="String">
        <value>False</value>
      </setting>
    </Growtopia_macro.Properties.Settings>
  </userSettings>
</configuration>